%h1 Listing booking_templates

%table
  %tr
    %th
    %th
    %th

  - @booking_templates.each do |booking_template|
    %tr
      %td= link_to 'Show', booking_template
      %td= link_to 'Edit', edit_booking_template_path(booking_template)
      %td= link_to 'Destroy', booking_template, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Booking template', new_booking_template_path
