%h1 Listing booking_templates

%table.table.table-striped
  %tr
    %th Name
    %th

  - @booking_templates.each do |booking_template|
    %tr
      %td= booking_template.name
      %td
        = link_to 'Edit', edit_booking_template_path(booking_template)
        = link_to 'Destroy', booking_template, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Booking template', new_booking_template_path
